@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: rgba(2, 13, 58, 0.788);
    font-size: 100%;
}

.cabecalho {
    background: rgb(212, 212, 15);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.cabecalho_titulo {
    display: flex;
    flex-direction: row;
    width: 90vw;
    align-items: flex-start; 
    justify-content:flex-start;
}

.cabecalho_menu ul {
    display: flex;
    flex-direction: row;
    width: 50vw;
    align-items:center;
    justify-content: flex-end;
    justify-content: space-around;
    list-style-type: none; 
    padding: -100%;
    font-weight: 400px;
    font-size: 17px;
}

.cabecalho_menu ul li {
    background-color: transparent;  
}

.cabecalho_menu ul li:hover {
    background-color: silver;  
}

.cabecalho_menu ul li a {
    color: black;
    padding: 5px;
    display: block;
}

.chamada {
    color: yellow;
    text-align: center;
    padding: 50px;
}

.conteudo {
    border-top: 0.4px solid black;
    margin-bottom: 48px;

}
.conteudoSegundo {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items:flex-end ; /*aqui deixa a maleta na altura dos pes*/ 
    justify-content: center;
    padding: 100px;
}

.conteudoTerceiro {  /*Quem Somos */
    color: yellow;
    text-align: center;
    padding: 120px;
}

.paragrafo_terceiro {
    color:rgb(212, 212, 15);
    padding: 20px;
}

.conteudoEquipe {
    color: yellow;
    text-align: center;
    padding: 90px;
}

.conteudoEquipe_time {
    color: orange;
}
.conteudoEquipe_time_chefe {
    padding: 30px;
    color: orange;
}
.conteudoEquipe_time_chefeOperacional {
    color: orange;
    padding: 20px;
}
.conteudoEquipe_time_chefeMarketing {
    color: orange;
    padding: 40px;
}

.conteudoContato {
    color: orange;
    text-align: center;
}

.redes ul {
    display: flex;
    flex-direction: row;  
    justify-content: space-evenly;
    padding: 20px 20vw;
    align-items: center;
    text-decoration: none;
}

.redes ul li {
    list-style: none;
}

.redes ul a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.redes ul li a img {
    text-decoration: none;
}

.botao {
    background: yellow;
    color: black;
    width: 130px;
    height: 50px;
    border:none;
    box-shadow: 4px 5px 4px black;
    border-radius: 10px;
    font-family: 'sarala, sans-serif';
    font-weight: 300;
    font-size: 20px;
}
.rodape {
    text-align: center;
}