
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: rgba(2, 13, 58, 0.788);
    font-size: 100%;
}

.cabeçalho {
    background: rgb(212, 212, 15);
    padding: 30px;
}

.chamada {
    color: white;
    text-align: center;
    padding: 50px;
}

.conteudo {
    border-top: 0.4px solid black;
    margin-bottom: 48px;

}
.conteudoPrimario {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.conteudoSecundario {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    text-decoration: none;
}


.menu ul {
   list-style-type: none; 
   padding: 0%;
   gap: 40px;
}
 
.menu ul li {
    background-color: rgb(81, 81, 223);
}

.menu ul li:hover {
    background-color: silver;
}

.menu ul li a{
    color: white;
    padding: 10px;
    display: block;
}